$mq-mobile-portrait   : 320px !default;
$mq-mobile-landscape  : 480px !default;
$mq-tablet-portrait   : 768px !default;
$mq-tablet-landscape  : 1024px !default;
$mq-desktop           : 1382px !default;
$mp-phone-custom	  : 640px !default;


/* Responsive Mixins */
/* Smartphones (portrait and landscape) ----------- */
// Both portrait and landscape
@mixin mobile-only {
	@media (max-width : $mq-mobile-landscape) {
		@content;
	}
}

/* Smartphones (portrait) ----------- */
@mixin mobile-portrait-only {
	@media (max-width : $mq-mobile-portrait) {
		@content;
	}
}

/* Smartphones (landscape) ----------- */
@mixin mobile-landscape-only {
	@media only screen 
	and (min-width : $mq-mobile-portrait + 1) 
	and (max-width : $mq-mobile-landscape) {
		@content;
	}
}

@mixin mobile-to-tablet {
	@media (max-width :$mq-tablet-portrait - 1) {
		@content;
	}
}

@mixin mobile-to-phone-custom {
	@media (max-width :$mp-phone-custom - 1) {
		@content;
	}
}

@mixin tablet-to-desktop {
	@media (min-width :$mq-tablet-portrait) {
		@content;
	}
}

@mixin main-nav-mobile {
	@media (max-width :1085px) {
		@content;
	}
}

// Both the portrait and landscape width of the tablet
// Larger than a landscape mobile but less than or equal to a landscape tablet
@mixin tablet-only {
	@media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-landscape) {
		@content;
	}
}
 
// Everything larger than mobile landscape up until the portrait width of the tablet
@mixin tablet-portrait-only {
	@media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-portrait) {
		@content;
	}
}

// Larger than portrait but less than or equal to the landscape width
@mixin tablet-landscape-only {
	@media only screen and (min-width : $mq-tablet-portrait + 1) and (max-width : $mq-tablet-landscape) {
		@content;
	}
}

/* iPads (portrait and landscape) ----------- */
@mixin ipad-only {
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) {
		@content;
	}
}

/* iPads (landscape) ----------- */
@mixin ipad-landscape-only {
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : landscape) {
		@content;
	}
}

/* iPads (portrait) ----------- */
@mixin ipad-portrait-only {
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait) {
		@content;
	}
}

/* Desktops and laptops ----------- */
@mixin desktop-only {
	@media only screen and (min-width : $mq-tablet-landscape + 1) {
		@content;
	}
}

/* Large screens ----------- */
@mixin large-screens-only {
	@media only screen 
	and (min-width : 1824px) {
		@content;
	}
}

/* iPhone 4 and below ----------- */
@mixin iphone-4-and-below-only {
 @media
	screen and (device-aspect-ratio: 2/3) {
		@content;
	}
}

@mixin iphone-4-and-below-landscape-only {
	@media only screen 
	and (device-aspect-ratio: 2/3) 
	and (orientation : landscape) { 
		@content;
	}
}

@mixin iphone-4-and-below-portrait-only {
	@media only screen 
	and (device-aspect-ratio: 2/3) 
	and (orientation : portrait) { 
		@content;
	}
}

/* iPhone 5 ----------- */
@mixin iphone-5-only {
	@media only screen and
	(device-aspect-ratio: 40/71) { 
		@content;
	}
}

@mixin iphone-5-landscape-only {
	@media only screen 
	and (device-aspect-ratio: 40/71)
	and (orientation : landscape) { 
		@content;
	}
}

@mixin iphone-5-portrait-only {
	@media only screen 
	and (device-aspect-ratio: 40/71)
	and (orientation : portrait) { 
		@content;
	}
}
