$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

$super_light_gray_color: #cbcbcb;
$light_gray_color: #999999;
$middle_gray_color: #868585;
$gray_color : #333;
$green_color: #439539;
$yellow_color: #ffd700;
$dark_green: #32702b;
$dark_green2: #184d12;
$pastel_color: #fefde8;
$light_green_color: #bfd730; 
$blue_color: #0e8aea;
$red_color: #c4161c;
$purple_color: #946db0;
$super_light_orange_color: #fffae3;
$light_orange_color: #f8e17c;
$orange_color: #fad22b;
$dark_orange_color: #f6981b;
$cyan_color: #2dd0ef;

@import "normalize";
@import "foundation";

@import "compass";

@import
		"base",
		"layout";

@import 
		"modules/notification_menu",
		"modules/main-menu",
		"modules/header",
		"modules/user_box",
		"modules/buttons",
		"modules/submenu",
		"modules/breadcrumb",
		"modules/table-box",
		"modules/image-slider",
		"modules/progress-bar",
		"modules/angular-carousel",
		"modules/search-input",
		"modules/tiles",
		"modules/modal-premium",
		"modules/hero";

@import
		"pages/index",
		"pages/animals",
		"pages/profile";


/**************
**Font Familys */

@font-face {
	font-family: 'VgRoundedBold';
	src: url('fonts/webfont.eot'); /* IE9 Compat Modes */
	src: url('fonts/vag_rounded_bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/vag_rounded_bold-webfont.woff') format('woff'), /* Modern Browsers */
	     url('fonts/vag_rounded_bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('fonts/vag_rounded_bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	}

@font-face {
	font-family: 'DinAlternate';
	src: url('fonts/webfont.eot'); /* IE9 Compat Modes */
	src: url('fonts/din_alternate_2-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/din_alternate_2-webfont.woff') format('woff'), /* Modern Browsers */
	     url('fonts/din_alternate_2-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('fonts/din_alternate_2-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	}

/**************/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "VgRoundedBold", "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
}

body {
	font-family: "DinAlternate", "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
}

#container {
	background: #fff;
}

.hide {
	display: none;
}

.loader {
	background: url('../images/ajax-loader.gif') no-repeat top left;
	text-indent: 25px;
	position: absolute;
	bottom: 0;
}

.no-padding {
	padding: 0!important;
	img {
		width: 100%;
	}
}

.no-float-desktop {
	@include desktop-only {
		float: none!important;
	}	
}

.no-padding-right {
	padding-right: 0!important;
}

.no-padding-left {
	padding-left: 0!important;
}

.bold {
	font-weight: bold;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.overflow-hidden {
	overflow: hidden;
}

.ng-hide {
    display: none !important;
}

.content-loader {
	width: 100px;
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -50px;
	text-align: center;
	z-index: 7777;
	background: white;
	padding: 10px;
	border-radius: 8px;
	@include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
}

.orange {
	color: $dark_orange_color;
}

.blue {
	color: $blue_color;
}

.red {
	color: $red_color;
}

.green {
	color: $green_color;
}

.title {
  margin-bottom: 10px;
  border-bottom: 1px solid $gray_color;
  h2 {
    color: $dark_orange_color;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.underlined {
	border-bottom: 1px solid $gray_color;
}

.columns-6-mobile {
  @include mobile-only {
    @include grid-column(5);
  	width: 50%;
  }
}

.overflow-hidden {
	overflow: hidden;
}

.premium {
	cursor: pointer;
	&:after {
		width: 40px;
		height: 40px;
		display: block;
		background: url("../images/diamond.png") no-repeat center left white;
		content: "";
		background-size: 100%;
		position: absolute;
		top: 20px;
		right: 20px;
		border: 3px solid gold;
		@include border-radius(20px);
		@include box-shadow(rgba(51,51, 51, 0.4) 2px 2px 0px);
	}
	&:before {
		width: 40px;
		height: 40px;
		content: "";
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
		@include border-radius(20px);
		@include transition-property('all');
        @include transition-duration(.5s);
        opacity: 0;
	}
	&:hover:before {
		opacity: 1;
		@include box-shadow(rgba(white, 0.5) 0 0 25px, rgba(white, 0.5) 0 0 3px 1px inset);
		//@include box-shadow(rgba(51,51, 51, 0.4) 2px 2px 0px);
	}
}

a.premium {
	border-radius: 8px;
	display: block;
	overflow: hidden;
}
