.button {
	@include inline-block;
	&.menu-view {
		padding: 5px 10px;
		background-color: $orange_color;
		border: 2px solid $yellow_color;
		font-weight: bold;
		color: white;
		height: auto;
		@include border-radius(4px);
		@include transition-property('background-color');
  		@include transition-duration(.5s);
  		@include box-shadow(rgba(51,51, 51, 0.4) 2px 2px 0px);
		&:hover {
			background-color: $dark_orange_color;
		}
	}

	&.see-more {
		background: url("../images/see-more-icon.png") no-repeat center right;
		margin: 0;
		padding: 5px;
		border: 0;
		box-shadow: none;
		padding-right: 27px;
		height: 21px;
		color: white;
        font-size: 12px;
        font-weight: bold;
	}

	&.premium-lets-go {
		@include border-radius(8px);
		border: 4px solid $dark_orange_color;
		background-color: $orange_color;
		color: $purple_color;
		font-weight: bold;
		font-family: "VgRoundedBold", "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
		&:hover {
			background-color: $light_orange_color;
		}
	}
}