.page-header-container {
	border-top:1px solid $green_color;
	margin-top: -2px;
   	@include box-shadow(inset 0 2px 0 $green_color);
   	@include mobile-only {
   		overflow: hidden;
   	}
}

#nkg-logo {
	width: 200px;
	overflow: hidden;
	display: inline-block;
	float: left;

	@include mobile-only {
		width: 120px;
		padding: 10px;
	}
}

#page-header {
	width: 100%;
	position: relative;
	z-index: 9997;
	
	background-color: rgba(67,149,57,1);
	border-bottom: 10px solid $yellow_color;
	
	height: 110px;
	@include transition-property('background-color');
  	@include transition-duration(1s);

	&.stuck {
  		background-color: rgba(67,149,57,.6);
  		width: 100%;
  		position: fixed;
  	}

  	@include mobile-only {
		height: 80px;
	}
}

.page-header {
	height: 109px;
	margin-top: 2px;
	@include mobile-only {
		height: 80px;
	}
}