.box {
  padding-top: 0.5375em;
  padding-bottom: 0.5375em;
  padding-left: 0.5375em;
  padding-right: 0.5375em;
  @include mobile-only {
    padding-bottom: 0;
  }
}
.box-content {
  background-color: red;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 8px;
  padding: 5px;
  overflow: hidden;
  &.din {
    img {
      //max-height: 160px;
      @include border-radius(6px);
    }
  }
  p {
    margin-bottom: 0px;
  }
  &.orange {
    background-color: #f37022;
    color: #fff;
  }

  &.green {
    background-color: #c0d731;
    color: #fff;
  }

  &.light-orange {
    background-color: #f5bf07;
    color: #fff;
  }

  &.purple {
    background-color: #946db0;
    color: #fff;
  }

  &.cyan {
    background-color: #2dd0ef;
    color: #fff;
  }

  &.red {
    background-color: #d83433;
    color: #fff;
  }

  &.blue {
    background-color: #008bc0;
    color: #fff;
  }
}