.image-slider {

	.image-slider-button {
		@include inline-block;
	}

	&.orange {
		@include border-radius(8px);
		padding: 10px;
		background-color: $dark_orange_color;
		@include clearfix;

		.rsArrowIcn {
			background-color: rgba(246,152,27,0.5);
			@include border-radius(40px);
			padding: 30px;
		}

		.rsArrowLeft.rsArrow  {
			.rsArrowIcn {
				background-image:url('../images/arrow-left.png');
				background-repeat: no-repeat;
				background-position: 31px center;
				margin-left: -50px;
				&:hover {
					background-color: rgba(246,152,27,1);
				}
			}
		}

		.rsArrowRight.rsArrow  {
			.rsArrowIcn {
				background-image:url('../images/arrow-right.png');
				background-repeat: no-repeat;
				background-position: 18px center;
				margin-left: -12px;
				&:hover {
					background-color: rgba(246,152,27,1);
				}
			}
		}

		.rsThumb.rsNavSelected img {
			border: 3px solid orange;
			opacity: 1;
		}

		.rsThumb img {
			@include border-radius(6px)
		}

		.rsThumb.rsNavSelected {
			background: none;
		}

		.rsThumb {
			padding: 4px;
		}
	}
}

.royalSlider {
  width: 100%;
}
