//--------------

.main-menu {
    position: absolute;
    top: 8px;
    left: 350px; //Para mobile esto no deberia ir
    z-index: 9999!important;
    .main-menu-icon {
        width: 80px;
        height: 80px;
        background-color: $light_green_color;
        border: 8px solid $yellow_color;
        @include border-radius(100px);
        z-index: 10;
        position: relative;
        background-image: url('../images/menu-icons.png');
        background-position: 3px 0px;
        @include transition-property('all');
        @include transition-duration(1s);
        &:hover {
            background-color: $yellow_color;
            border: 8px solid $light_green_color;
        }
        @include mobile-only {
            background-position: -5px -84px;
            width: 60px;
            height: 60px;
            border: 6px solid $yellow_color;
            &:hover {
                border: 6px solid $light_green_color;
            }
        }
    }
    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        float: left;
        li {
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
            height: 40px;
            vertical-align: top;
            font-size: 11px;
            text-align: center;
            position: relative;
            &:last-child, &.no-margin-right {
                margin-right: 0;
            }
            &.clear {
                clear: left;
            }
        }

        @include mobile-only {
            width: 285px;
        }
    }

    &.loaded {
        position: fixed;
    }

    @include mobile-only {
        left: 130px;
        top: 5px;

        &.loaded {
            width: 60px;
            height: 60px;
        }
    }
}

.main-menu-icon {
    cursor: pointer!important;
}

.main-menu[style] {
    cursor: default!important;
}

.mm-panel {
    background-color: #818285;
    float: left;
    padding: 10px;
    @include box-shadow(rgba(51,51, 51, 0.4) 4px 4px 0px);
}

@include mobile-only {
    .main-menu-container {
            position: absolute;
    }
    .menu-orientation-left {
        .main-menu-container {
            right: 280px!important;
        }
    }
}

.main-menu-container {
    position: relative;
    margin: -40px 0px 0px 45px;
    @include clearfix;
    overflow: visible;

    .main-menu-left {
        max-width: 285px;
        @include border-radius(5px 0 0 5px);
        background-color: $green_color;
        position: relative;
    }

    .menu-cool-stuff, .menu-profile-edit {
        float: left;
        clear: left;
    }

    @include mobile-only {
        width: 60px;
    }
}

.main-menu-right {
    margin: 0;
    width: 285px;
    @include border-radius(0 5px 5px 0);
    background-color: $light_green_color;
    h4 {
        font-size: 13px;
        color: white;
        margin: 0px 0px 4px 0px;
        padding: 0px;
    }
    ul {
        width: 100%;
        li {
            display: block;
            width: 100%;
            text-align: left;
            height: auto;
            margin-bottom: 1px;
            position: relative;
            @include mobile-only {
                height: 65px;
                overflow: hidden;
            }
        }

        a {
            display: block;
            background-color: #999999;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            height: 73px;
            overflow: hidden;
            padding-left: 8px;

            &.my-shot {
                @include background-image(linear-gradient(left, #fdd501, #fbb104));
            }

            &.animal-jam {
                @include background-image(linear-gradient(left, #fbb613, #f38220));
            }

            &.myths-busting {
                @include background-image(linear-gradient(left, #2cceec, #0465c6));
            }

            &.weird-but-true {
                @include background-image(linear-gradient(left, #a6ca02, #5c6c25));
            }

            &.just-joking {
                @include background-image(linear-gradient(left, #f05d29, #d63534));
            }
        }

        .menu-view {
            position: absolute;
            right: 8px;
            top: 20px;
        }

    }

    .see-more {
        position: relative;
        top: 5px;
        float: right;
    }
}

.main-menu-link {
    position: absolute;
    bottom: 2px;
    display: block;
    width: 100%;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu-cool-stuff {
    background-color: $light_green_color;
    @include border-radius(5px);
    border: 3px solid $yellow_color;
    padding: 10px;
    width: 100%;
    h3 {
        margin: 10px 0 0 0;
        padding: 0px;
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 10px;
        color: $green_color;
    }

    .label {
        display: block;
        padding: 5px;
        font-size: 11px;
        text-align: left;
        margin-bottom: 3px;
        color: $gray_color;
        em {
            color: white;
        }
        &.yellow {
            background-color: $yellow_color;
        }
        &.orange {
            background-color: $orange_color
        }
        &.dark-orange {
            background-color: $dark_orange_color;
        }
    }

    @include mobile-only {
        display: none;
    }
}

.menu-profile-edit {
    padding: 10px 10px 0px 0px;
    width: 100%;
    .image-icon {
        float: left;
    }

    .profile-edit-user-name {
        color: #fff;
        font-size: 12px;
    }

    .profile-edit-button {
        color: #fad22b;
        font-size: 12px;
    }
}

.image-icon {
    background-color: $gray_color;
    @include border-radius(4px);
    width: 40px;
    height: 40px;
    @include inline-block;
    margin-right: 5px;
    &.icon-1 {
        background-image: url('../images/cool-stuff-1.png');
        background-repeat: no-repeat;
        background-position: center center;
    }
    &.icon-2 {
        background-image: url('../images/cool-stuff-2.png');
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.menu-profile-link-containers {
    float: left;
}

//---------Main menu buttons

.button {
    &.mm {
        width: 80px;
        height: 80px;
        background-color: white;
        background-image: url('../images/menu-icons.png');
        @include border-radius(5px);
        border: 0;
        @include mobile-only {
            height: 65px;
        }
        a {
            display: block;
            padding-top: 60px;
            @include mobile-only {
                padding-top: 45px;
            }
        }
        &:hover {
            background-color: #c0d731;
        }

        &.home {
            background-position: -67px 0px;
            span a {
                color: $yellow_color;
            }
        }

        &.games {
            background-position: -157px 0px;
            span a {
                color: $orange_color;
            }
        }

        &.videos {
            background-position: -247px 0px;
            span a {
                color: $red_color;
            }
        }

        &.animals {
            background-position: -68px -88px;
            span a {
                color: $green_color;
            }
        }

        &.science {
            background-position: -157px -88px;
            span a {
                color: $blue_color;
            }
        }

        &.world {
            background-position: -248px -88px;
            span a {
                color: $purple_color;
            }
        }
    }
}

.fade-hide, .fade-show {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.fade-hide {
    opacity:1;
}
.fade-hide.fade-hide-active {
    opacity:0;
}
.fade-show {
    opacity:0;
}
.fade-show.fade-show-active {
    opacity:1;
}

.modal-bg {
    display: block;
    width: 100%;
    min-height: 101%;
    height: 101%;
    background-color: rgba(51,51, 51, 0.6);
    min-width: 100%;
    position: fixed;
    z-index: 9998;
}