.diamond-premium {
	border: 10px solid gold;
	border-radius: 100px;
	height: 150px;
	width: 150px;
	padding-top: 34px;
	@include box-shadow(rgba(51,51, 51, 0.4) 4px 4px 0px);
	display: block;
	img {
		position: relative;
		top: -10px;
	}
}

.modal-content {
	h3 {
		color: $dark_orange_color;
	}

	button.close {
		padding: 8px 12px;
		border-radius: 8px;
		float: right;
	}

	p {
		margin-bottom: 0.25em;
	}

	.extra-features-item {
		@include border-radius(8px);
		background-color: red;
		padding: 5px;
		float: left;
		width: 100px;
		margin-right: 10px;
		margin-top: 10px;
		height: 115px;
		&.orange {
			background-color: $dark_orange_color;
		}
		&.green {
			background-color: $light_green_color
		}
		&.cyan {
			background-color: $cyan_color;
		}
		&.red {
			background-color: $red_color;
		}
		&.purple {
			background-color: $purple_color;
		}
	}

	h5 {
		font-size: 12px;
		color: white;
	}

	img {
		@include border-radius(6px);
	}

	.button.premium-lets-go {
		margin: 20px 20px 0px 0px;
	}
}

.custombox-modal {
	@include mobile-only {
		width: 100%!important;
		.diamond-premium {
			width: 100%;
			height: 100%;
			padding-top: 17px;
			img {
				position: relative;
				top: -6px;
			}
		}
	}
}