.user-profile-notifications {
	width:280px; 
	height:121px; 
	margin:0 auto; 
	position:relative; 
	z-index:100;
}
/* default settings */
.user-profile-notifications > div {
	position:absolute; 
	padding:10px; 
	left:-85px; 
	width:380px; 
	height: 124px;
	-webkit-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transform:perspective(350px) rotateX(-90deg);
	-o-transform:perspective(350px) rotateX(-90deg);
	transform:perspective(350px) rotateX(-90deg);
	z-index: 2000;
	padding: 37px 15px 10px 20px;
	visibility: hidden;
}

.user-profile-notifications {
	display: block;
	width: 80px;
	height: 60px;
}

.user-profile-username {
	@include mobile-only {
		display: none;
	}
}

/* Delays of each peace - OUT */
.user-profile-notifications div.p1 {
	background:url('../images/notif-first-bg.png') no-repeat top left; 
	top:45px;
	-webkit-transition:0.2s linear 0.8s;
	-o-transition:0.2s linear 0.8s;
	transition:0.2s linear 0.8s;
}
.user-profile-notifications div.p2 {
	background:url('../images/notif-bg.png') no-repeat top left; 
	top:153px;
	-webkit-transition:0.2s linear 0.6s;
	-o-transition:0.2s linear 0.6s;
	transition:0.2s linear 0.6s;
}
.user-profile-notifications div.p3 {
	background:url('../images/notif-bg.png') no-repeat top left;  
	top: 258px;
	-webkit-transition:0.2s linear 0.4s;
	-o-transition:0.2s linear 0.4s;
	transition:0.2s linear 0.4s;
}
.user-profile-notifications div.p4 {
	background:url('../images/notif-bg.png') no-repeat top left;
	top: 363px;
	-webkit-transition:0.2s linear 0.2s;
	-o-transition:0.2s linear 0.2s;
	transition:0.2s linear 0.2s;
}
.user-profile-notifications div.p5 {
	background:url('../images/notif-last-bg.png') no-repeat top left;  
	top: 464px;
	border-radius: 0 0 10px 10px;
	-webkit-transition:0.2s linear 0s;
	-o-transition:0.2s linear 0s;
	transition:0.2s linear 0s;
	text-align: center;
	padding-top: 30px;
	height: 62px;
	p {
		color: $blue_color!important;
		font-size: 13px;
		font-weight: bold;
	}
}

.user-profile-notifications:hover div {
	-webkit-transform:perspective(350px) rotateX(0deg);
	-o-transform:perspective(350px) rotateX(0deg);
	transform:perspective(350px) rotateX(0deg);
	visibility: visible;
}

/* Delays of each peace - IN */
.user-profile-notifications:hover .p1 {
    -webkit-transition:0.2s linear 0s;
    -o-transition:0.2s linear 0s;
    transition:0.2s linear 0s;
}
.user-profile-notifications:hover .p2 {
    -webkit-transition:0.2s linear 0.2s;
    -o-transition:0.2s linear 0.2s;
    transition:0.2s linear 0.2s;
}
.user-profile-notifications:hover .p3 {
    -webkit-transition:0.2s linear 0.4s;
    -o-transition:0.2s linear 0.4s;
    transition:0.2s linear 0.4s;
}
.user-profile-notifications:hover .p4 {
    -webkit-transition:0.2s linear 0.6s;
    -o-transition:0.2s linear 0.6s;
    transition:0.2s linear 0.6s;
}
.user-profile-notifications:hover .p5 {
	-webkit-animation: flipUp 0.2s ease-in-out 0.8s forwards;
	-o-animation: flipUp 0.2s ease-in-out 0.8s forwards;
	animation: flipUp 0.2s ease-in-out 0.8s forwards;
	-webkit-transition:0s linear 0.9s;
	-o-transition:0s linear 0.9s;
	transition:0s linear 0.9s;
}

@-webkit-keyframes flipUp {
	0% {
		-webkit-transform: perspective(350px) rotateX(-90deg);
	}
	50% {
		-webkit-transform: perspective(350px) rotateX(30deg);
	}
	80% {
		-webkit-transform: perspective(350px) rotateX(-15deg);
	}
	100% {
		-webkit-transform: perspective(350px) rotateX(0deg); 
		box-shadow:0 15px 10px -15px rgba(0,0,0,0.4);
	}
}
@-o-keyframes flipUp {
	0% {
		-o-transform: perspective(350px) rotateX(-90deg);
	}
	50% {
		-o-transform: perspective(350px) rotateX(30deg);
	}
	80% {
		-o-transform: perspective(350px) rotateX(-15deg);
	}
	100% {
		-o-transform: perspective(350px) rotateX(0deg); 
		box-shadow:0 15px 10px -15px rgba(0,0,0,0.4);
	}
}
@keyframes flipUp {
	0% {
		transform: perspective(350px) rotateX(-90deg);
	}
	50% {
		transform: perspective(350px) rotateX(30deg);
	}
	80% {
		transform: perspective(350px) rotateX(-15deg);
	}
	100% {
		transform: perspective(350px) rotateX(0deg); 
		box-shadow:0 15px 10px -15px rgba(0,0,0,0.4);
	}
}



.user-profile-notifications div img {display:block; float:left; padding:0 10px 5px 0;}

.user-profile-notifications div p { 
	color: $dark_green2; 
	margin:0;
}

.user-profile-notifications div p span {display:block; font: bold 14px/18px arial, sans-serif !important; color:#ea0;}
.user-profile-notifications div p a {font: normal 12px/15px arial, sans-serif; color:#09c;}
.user-profile-notifications div p a:hover {text-decoration:none;}

.user-profile-notifications a.main {
	display: block;
	height: 100%;
	font: bold 15px/35px arial, sans-serif;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: url("../images/notifications-icon.png") no-repeat center center;
	border-radius: 10px;
	position: relative;
	z-index: 100;
	width: 80px;
	background-color: transparent;
	@include transition-property('background-color');
  	@include transition-duration(.5s);
	&:hover {
		background-color: $pastel_color;
		border: 2px solid $light_green_color;
	}
}