.progress {
	border: 2px solid $orange_color;
	background-color: $light_orange_color;
	.meter {
		@include transition-property(width);
		@include transition-duration(1s);
		@include transition-timing-function(ease-out);
		@include transition-delay(1.5s);
	}
	.size-10 {
		width: 10%;
	}
	.size-20 {
		width: 20%;
	}
	.size-30 {
		width: 30%;
	}
	.size-40 {
		width: 40%;
	}
	.size-50 {
		width: 50%;
	}
	.size-60 {
		width: 60%;
	}
	.size-70 {
		width: 70%;
	}
	.size-80 {
		width: 80%;
	}
	.size-90 {
		width: 90%;
	}
	.size-100 {
		width: 100%;
	}

	&.orange {
		.meter {
			background-color: $dark_orange_color;
		}
	}

	&.blue {
		.meter {
			background-color: $blue_color;
		}
	}

	&.red {
		.meter {
			background-color: $red_color;
		}
	}

	&.green {
		.meter {
			background-color: $green_color;
		}
	}
}