.submenu {
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: "VgRoundedBold", "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;

	&.profile {
		float: right;
		padding-bottom: 30px;
		li {
			float: left;
			@include inline-block;
			padding: 0px 0px 0px 10px;
			a {
				color: $middle_gray_color;
				padding: 8px 15px;
				@include transition-property('all');
        		@include transition-duration(.5s);
        		font-weight: bold;
        		@include border-radius(12px);
				&:hover, &.active {
					background-color: $dark_green;
					color: $yellow_color;
				}
			}
		}

		@include mobile-only {
			width: 100%;
			float: left;
			padding-bottom: 10px;
			text-align: center;
			li {
				width: 20%;
				height: 55px;
				padding: 0px 5px;
				float: none;
				a {
					background: url('../images/buttons-subsections-mobile.png') no-repeat;
					@include hide-text();
					display: block;
					height: 100%;
					border: 1px solid $light_gray_color;
					@include box-shadow(rgba(51,51, 51, 0.4) 1px 1px 2px);
					@include border-radius(6px);
				}
				&.how-to-help {
					display: none;
				}
				&.info {
					a {
						background-position: center 4px;
					}
				}
				&.videos {
					a {
						background-position: center -103px;
					}
				}
				&.photos {
					a {
						background-position: center -153px;
					}
				}
				&.stats {
					a {
						background-position: center -55px;
					}
				}
				&.location {
					a {
						background-position: center -205px;
					}
				}
			}
		}
	}
}