.table-box {
	width: 100%;

	&.profile {
		display: block;
		padding: 10px;
		background-color: $super_light_orange_color;
		@include border-radius(10px);
		@include clearfix;
		margin-bottom: 5px;
		h4 {
			font-size: emCalc(16px);
		}

		&.orange {
			h4 {
				color: $dark_orange_color;
			}
		}

		&.blue {
			h4 {
				color: $blue_color;
			}
		}

		p {
			color: $middle_gray_color;
		}
	}

	.table-box-col {
		&.third {
			width: 33.3%;
			float: left;
			padding: 0 10px;
		}
	}
}