.user-profile {
	background-color: rgba(50,112,43,1);
	float: right;
	@include border-radius(8px);
	position: relative;
	top: 15px;
	@include transition-property('background-color');
  	@include transition-duration(1s);

	.user-profile-left, .user-profile-right {
		float: left;
	}

	.user-profile-left {
		//border-right: 1px solid $dark_green2;
	}

	.user-profile-right {
		padding-left: 10px;
		color: $yellow_color;
		font-weight: bold;
		padding: 10px;
		background: url('../images/menu-sep.png') center left no-repeat;
		@include mobile-only {
			padding: 5px;
		}
	}

	@include mobile-only {
		top: 5px;
		right: 5px;
	}
}

.stuck {
	.user-profile {
		background-color: rgba(50,112,43,.5);
	}
}