.animals {
	@include desktop-only {
		.large-3 {
			width: 24.9%;
			height: 150px;
		}
	}
	
	.name {
		font-family: "VgRoundedBold", "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
		@include text-shadow(rgba($gray_color, 0.2) 1px 1px 0, rgba($gray_color, 0.2) 1px 1px 0, rgba($gray_color, 0.2) 2px 2px 0);
		display: inline-block;
		float: left;
		padding: 12px 10px;
		color: white;
	}

	.animal-item.ng-enter,
    .animal-item.ng-leave {
      -webkit-transition:0.5s ease-out all;
      -moz-transition:0.5s ease-out all;
      -o-transition:0.5s ease-out all;
      transition:0.5s ease-out all;
    }

    .animal-item.ng-enter,
    .animal-item.ng-leave.ng-leave-active {
      opacity:0;
      -webkit-transform: scale(0.1);
      transform: scale(0.1);
    }
    .animal-item.ng-leave,
    .animal-item.ng-enter.ng-enter-active {
      opacity:1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    .box-content {
    	padding: 5px;
    }

    .image-container {
		@include border-radius(6px);
		overflow: hidden;
	}
}

.filter-sidebar {
	list-style: none;
	padding: 0;
	margin: 0;
	li label {
		color: $blue_color;
		font-weight: bold;
		font-family: "VgRoundedBold", "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
	}

	li {
		height: 30px;
	}
}

.filter-subtitle {
	color: $light_gray_color;
	display: block;
	padding: 8px 0;
	margin-bottom: 10px;
}