/* ---- desktop  ---- */

@media screen and ( min-width: 960px ) {

  /* first primary content not used on homepage */
  .index-page #content > .primary-content:first-child {
    border-top: none;
    padding-top: 0;
  }

}

.hero-item .image {
	width: 100%;
	padding: 10px;
	border-radius: 8px;
	overflow: hidden;
}

.hero-item .image img {
	max-width: 100%;
	margin: 0 auto;
}

.hero-item.ad .image {
	padding: 0;
}

.index-page {
	.box-content {
		img {
			width: 100%;
		}
	}
}
