.info-container {
    position: relative;
}

.profile-content-animation {
  overflow: hidden;
}

.profile-content-animation.ng-enter, .profile-content-animation.ng-leave {
    //position: absolute;
}

.profile-content-animation.ng-enter.ng-enter-active {
    opacity: 0;
}

.profile-content-animation.ng-leave.ng-leave-active {
    opacity: 1;
}

.profile-content-animation.ng-enter {
    -webkit-animation: 0.5s 0.5s fadeInUpLarge;
    -moz-animation: 0.5s 0.5s fadeInUpLarge;
    -o-animation: 0.5s 0.5s fadeInUpLarge;
    animation: 0.5s 0.5s fadeInUpLarge;
}

.profile-content-animation.ng-leave {
    -webkit-animation: 0.5s fadeOutDown;
    -moz-animation: 0.5s fadeOutDown;
    -o-animation: 0.5s fadeOutDown;
    animation: 0.5s fadeOutDown;
    position: absolute;
    top: 0;
}

.profile-info {
  float: left;
}

.profile-label {
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  padding-right: 10px;
  line-height: 24px;
}

.din-content {
  min-height: 400px;
  @include transition-property('all');
  @include transition-duration(.5s);
  max-width: 100%;
  overflow: hidden;
}

ul.basic {
  width:100%;
  height:100%;
}
ul.basic li {
  text-align:center;
  font-size: 22px;
}
.rn-carousel-container {
  height:100%;
}
ul.rn-carousel-slides li {
  display: inline-table;
}

@-webkit-keyframes fadeInUpLarge {
    0% {
        opacity: 0;
        -webkit-transform: translateY(120px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}


@-moz-keyframes fadeInUpLarge {
    0% {
        opacity: 0;
        -moz-transform: translateY(120px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}


@-o-keyframes fadeInUpLarge {
    0% {
        opacity: 0;
        -o-transform: translateY(120px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}


@keyframes fadeInUpLarge {
    0% {
        opacity: 0;
        transform: translateY(120px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ball-menu-anim.ng-hide-remove {
    display: block !important;
    -webkit-animation: 1s flipInY;
    -moz-animation: 1s flipInY;
    -o-animation: 1s flipInY;
    animation: 1s flipInY;
}

.ball-menu-anim.ng-hide-add {
    -webkit-animation: 1s flipInY2;
    -moz-animation: 1s flipInY2;
    -o-animation: 1s flipInY2;
    animation: 1s flipInY2;
}

.comparator {
  &.marker {
    width: 45px;
    height: 45px;
    border: 2px solid $yellow_color;
    @include border-radius(30px);
    background: white;
    position: absolute;
    top: 50%;
    margin-top: -10px;
  }
  &.title {
    font-family: "VgRoundedBold", "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
    font-size: 22px;
  }
  &.left {
    float: left;
    margin-right: -45px;
    left: 0;
    z-index: 1;
  }
  &.right {
    float: right;
    margin-left: -45px;
    right: 0;
  }
  &.contenders {
    background: url('../images/bg-comparator.png') repeat-x center left;
    padding: 0 45px 0 45px;
    width: 100%;
    height: 200px;
    position: relative;
    z-index: 0;
    @include mobile-only {
      height: 100px;
    }
  }

  .player {
    height: 200px;
    float: left;
    opacity: 0;
    position: absolute;
    left: 0;
    @include transition-property(all);
    @include transition-duration(1s);
    @include transition-timing-function(ease-out);

    @include mobile-only {
      height: 100px;
    }

    img {
      @include mobile-only {
        height: 100%;
      }
    }

    &.player-1 {
      @include transition-delay(2s);
      opacity: 1;
      left: 100px;
      @include mobile-only {
          left: 15%;
      }
    }

    &.player-2 {
      @include transition-delay(2.5s);
      opacity: 1;
      left: 500px;
      @include mobile-only {
          left: 40%;
      }
    }
  }

  .label {
    @include transition-property(all);
    @include transition-duration(1s);
    @include transition-timing-function(ease-out);
    position: absolute;
    @include inline-block;
    font-family: "VgRoundedBold", "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;

    &.omg {
      background: url('../images/omg.png') no-repeat top left;
      width: 89px;
      height: 68px;
      opacity: 0;
      left: 280px;
      top: -30px;
      &.player-1 {
        @include transition-delay(2.8s);
        opacity: 1;
        top: 0px;
        @include mobile-only {
          display: none;
        }
      }
    }

    &.details {
      background: transparent;
      color: $gray_color;
      top: 30px;
      left: -30px;
      opacity: 0;
      @include mobile-only {
        top: 90px;
      }
      &.p2 {
        right: -20px;
        top: 120px;
        @include mobile-only {
          top: 90px;
        }
      }
      .big {
        display: block;
        font-size: 25px;
        color: $dark_orange_color;
      }
      .super.big {
        font-size: 30px;
      }
      &.player-1 {
        @include transition-delay(3.2s);
        opacity: 1;
        left: 50px;
        @include mobile-only {
          top: 90px;
          left: 0;
        }
      }

      &.p2.player-2 {
        @include transition-delay(3.2s);
        opacity: 1;
        right: -700px;
        @include mobile-only {
          top: 90px;
          right: -65%;
        }
      }

    }
  }

  
}

.profile {
  h3 {
    color: $dark_orange_color;
  }
}

.columns-6-mobile {
  @include mobile-only {
    .profile-label {
      text-align: left;
    }
  }
}

.worldmap {
  @include mobile-only {
    text-align: center;
  }
}

// Location

.links-sidebar {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    a {
      font-family: "VgRoundedBold", "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
      color: $middle_gray_color;
      display: block;
      text-indent: 12px;
      padding: 3px;
      @include transition-property(all);
      @include transition-duration(.3s);
      @include transition-timing-function(ease-out);
      @include border-radius(10px);
      &.active {
        background-color: $light_green_color;
        color: $green_color;
      }

      &:hover {
        background-color: $super_light_gray_color;
      }
    }
  }
}

.vid-player {
  @include grid-column(9, false, true);

  @include mobile-only {
    @include grid-column(12);
  }
}

.mini-vid-player {
  @include grid-column(3);
  position: absolute;
  top: 100px;
  &.left {
    left: -15px;
  }
  &.right {
    right: -15px;
  }
  @include mobile-only {
    position: relative;
    top: 0;
    @include grid-column(6);
    margin-bottom: 20px;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
}

.vid-button {
  @include inline-block;
  padding: 10px;
  font-weight: bold;
  color: $gray_color;
  line-height: 30px;
  position: absolute;
  top: 20px;
  @include transition-property(all);
  @include transition-duration(.3s);
  @include transition-timing-function(ease-out);
  cursor: pointer;
  &.next {
    background: url('../images/vid-next.png') center right no-repeat;
    padding-right: 35px;
    right: 10px;
  }
  &.prev {
    background: url('../images/vid-prev.png') center left no-repeat;
    padding-left: 35px;
    left: 10px;
  }
  &:hover {
    color: $dark_orange_color;
  }
  @include mobile-only {
    position: static;
    &.next {
        float: right;
    }
    &.prev {
      float: left;
    }
  }
}

@include mobile-only {
  .explore-by {
    display: none;
  }
}

