<div class="modal-content row">
	<div class="small-12 large-12 columns">
		<button type="button" class="close" onclick="$.fn.custombox('close');">&times;</button>
	</div>
	<div class="small-3 large-3 columns ">
		<span class="diamond-premium"><img src="images/diamond.png" alt=""></span>
	</div>
	<div class="small-9 large-9 columns">
	    <div class="modal-header">
	        <h3>THERE IS MORE FOR YOU TO SEE!</h3>
	    </div>
	    <div class="modal-body">
	        <p>Behind this there are hundreds of photos, videos, badges and levels for you to find and explore.</p>
	        <p>sign-up today for the whole experience</p>
	    </div>
	    <div class="extra-features">
	    	<div class="extra-features-item orange">
	    		<h5>100+ ARTICLES</h5>
	    		<img src="http://lorempixel.com/100/90/animals/" alt="" />
	    	</div>
	    	<div class="extra-features-item green">
	    		<h5>+500+ VIDEOS</h5>
	    		<img src="http://lorempixel.com/100/90/nature/" alt="" />
	    	</div>
	    	<div class="extra-features-item cyan">
	    		<h5>200+ PHOTOS</h5>
	    		<img src="http://lorempixel.com/100/90/technics/" alt="" />
	    	</div>
	    	<div class="extra-features-item red">
	    		<h5>10+ GAMES</h5>
	    		<img src="http://lorempixel.com/100/90/cats/" alt="" />
	    	</div>
	    </div>
	    <div>
	    	<button class="button premium-lets-go">LET'S GO</button>
	    </div>
	</div>
</div>