<div class="large-12 columns no-padding underlined">
	<div class="large-3 columns">
		<h4 class="orange">TRENDING ANIMALS</h4>
	</div>
	<div class="large-9 columns last">
		<div id="container" masonry="true" class="large-12">
		    <div class="large-3 small-12 columns box animal-item" ng-show="loadComplete" ng-repeat="item in items | filter: search | filter : searchFilter | filter: onlyTrending | limitTo:4">
		    	<div class="box-content light-orange">
		    		<div class="image-container">
		    			<a href="profile.html"><img ng-src="images/{{item.name}}.jpg" width="160" height="90" /></a>
		    		</div>
			        <a href="profile.html"><span class="name">{{item.name}}</span></a>
		        </div>
		    </div>   
		</div>
	</div>
</div>

<div class="large-12 columns no-padding">
	<div class="large-3 columns">
		<h4 class="orange">ALL ANIMALS</h4>
		<span class="filter-subtitle underlined">Filter by:</span>

		<ul class="filter-sidebar ng-cloak">
		    <li ng-repeat="animal in animalFilters | orderBy:'name'">
		        <label><input type="checkbox" ng-model="animalFilterCheckboxes[animal.name]" /> {{animal.name}}</label>
		    </li>
		</ul>
	</div>
	<div class="large-9 columns last">
		<div id="container" masonry="true" class="large-12">
		    <div class="large-3 small-12 columns box animal-item" ng-show="loadComplete" ng-repeat="item in items | filter: search | filter : searchFilter">
		    	<div class="box-content light-orange">
		    		<div class="image-container">
		    			<a href="profile.html"><img ng-src="images/{{item.name}}.jpg" width="160" height="90" /></a>
		    		</div>
			        <a href="profile.html"><span class="name">{{item.name}}</span></a>
		        </div>
		    </div>
		</div>
	</div>
</div>
