<div class="small-12 large-3 columns image-slider" din-width>
	<div class="small-12 large-12 columns">
		<span class="filter-subtitle underlined">GO TO</span>

		<ul class="links-sidebar">
		    <li>
		        <a class="active" href="">All</a>
		    </li>
		    <li>
		        <a href="">India</a>
		    </li>
		    <li>
		        <a href="">Myanmar</a>
		    </li>
		    <li>
		        <a href="">Thailand</a>
		    </li>
		    <li>
		        <a href="">Vietnam</a>
		    </li>
		    <li>
		        <a href="">China</a>
		    </li>
		</ul>
	</div>
	<div class="small-12 large-12 columns explore-by">

		<span class="filter-subtitle underlined">EXPLORE BY</span>

		<ul class="filter-sidebar ng-cloak">
		    <li>
		        <label><input type="checkbox" /> Photos</label>
		    </li>
		    <li>
		        <label><input type="checkbox" /> Videos</label>
		    </li>
		    <li>
		        <label><input type="checkbox" /> Stats</label>
		    </li>
		    <li>
		        <label><input type="checkbox" /> How to Help</label>
		    </li>
		</ul>
	</div>
</div>

<div class="small-12 large-9 columns image-slider">
	<img src="images/location-map.png" alt="" />
</div>