<div style="min-height: 1000px">
	<div class="large-6 columns image-slider orange" din-width>
			<div id="gallery-1" class="royalSlider rsDefault">
			    <a class="rsImg" data-rsw="640" data-rsh="480" data-rsbigimg="images/profile/1.jpg" href="images/profile/1.jpg"><img width="96" height="72" class="rsTmb" src="images/profile/t/1.jpg"></a>
			    <a class="rsImg" data-rsw="640" data-rsh="480" data-rsbigimg="images/profile/2.jpg" href="images/profile/2.jpg"><img width="96" height="72" class="rsTmb" src="images/profile/t/2.jpg"></a>
			    <a class="rsImg" data-rsw="640" data-rsh="480" data-rsbigimg="images/profile/3.jpg" href="images/profile/3.jpg"><img width="96" height="72" class="rsTmb" src="images/profile/t/3.jpg"></a>
			    <a class="rsImg" data-rsw="640" data-rsh="480" data-rsbigimg="images/profile/4.jpg" href="images/profile/4.jpg"><img width="96" height="72" class="rsTmb" src="images/profile/t/4.jpg"></a>
			    <a class="rsImg" data-rsw="640" data-rsh="480" data-rsbigimg="images/profile/1.jpg" href="images/profile/1.jpg"><img width="96" height="72" class="rsTmb" src="images/profile/t/1.jpg"></a>
			    <a class="rsImg" data-rsw="640" data-rsh="480" data-rsbigimg="images/profile/2.jpg" href="images/profile/2.jpg"><img width="96" height="72" class="rsTmb" src="images/profile/t/2.jpg"></a>
			    <a class="rsImg" data-rsw="640" data-rsh="480" data-rsbigimg="images/profile/3.jpg" href="images/profile/3.jpg"><img width="96" height="72" class="rsTmb" src="images/profile/t/3.jpg"></a>
			    <a class="rsImg" data-rsw="640" data-rsh="480" data-rsbigimg="images/profile/4.jpg" href="images/profile/4.jpg"><img width="96" height="72" class="rsTmb" src="images/profile/t/4.jpg"></a>
			</div>
	</div>

	<div class="large-6 columns margin-bottom-20" din-width>
		<h3>Tiger</h3>
		<p>Easily recognized by its coat of reddish-orange with dark stripes,
	the tiger is the largest wild cat in the world.</p>

		<div class="table-box profile orange">
			<div class="table-box-col third">
				<h4>INTELLIGENCE</h4>
				<div class="nice round progress orange large-10"><span class="meter size-{{ profile.percentage.intelligence }}"></span></div>
			</div>
			<div class="table-box-col third">
				<h4>Smarter than</h4>
				<p>Gacelle</p>
			</div>
			<div class="table-box-col third">
				<h4>Less smart than</h4>
				<p>Monkey</p>
			</div>
		</div>

		<div class="table-box profile blue">
			<div class="table-box-col third">
				<h4>STRENGHT</h4>
				<div class="nice round progress blue large-10"><span class="meter size-{{ profile.percentage.strength }}"></span></div>
			</div>
			<div class="table-box-col third">
				<h4>Stronger than</h4>
				<p>Monkey</p>
			</div>
			<div class="table-box-col third">
				<h4>Weaker than</h4>
				<p>Elephant</p>
			</div>
		</div>
	</div>

	<div class="large-12 columns margin-bottom-50">
		<div class="comparator title orange bold">
			SPEED
		</div>
		<div class="comparator marker left">
		</div>
		<div class="comparator left contenders">
			<div class="player {{ profile.players.player1.clase }}">
				<img src="images/Usain-Boldt.png" alt="" />
			</div>
			<div class="player {{ profile.players.player2.clase }}">
				<img src="images/tiger-running.png" alt="" />
			</div>
			<div class="label omg {{ profile.players.player1.clase }}"></div>
			
			<span class="label details {{ profile.players.player1.clase }}">Usain Bols has <br/>the record of <span class="big">42km/hr</span></span>

			<span class="label details {{ profile.players.player2.clase }} p2">Tiger can run up to <span class="big">200km/hr</span></span>
		</div>
		<div class="comparator marker right">
		</div>
	</div>

	<div class="large-12 columns margin-bottom-20">
		<img src="images/tiger-content.png" alt="" />
	</div>

	<div class="large-12 columns margin-bottom-20">
		<div class="large-4 columns">
			<h3>Hunting</h3>
			<p>Tigers can hunt up to 3 gacelles a month and then rest the whole summer!</p>
		</div>
		<div class="large-8 columns">
			<img src="images/menu-gacelles.png" alt="" />
		</div>
	</div>

</div>