<div class="small-12 large-6 columns image-slider orange" din-width>
		<div id="gallery-1" class="royalSlider rsDefault">
		    <a class="rsImg" data-rsw="640" data-rsh="480" data-rsbigimg="images/profile/1.jpg" href="images/profile/1.jpg"><img width="96" height="72" class="rsTmb" src="images/profile/t/1.jpg"></a>
		    <a class="rsImg" data-rsw="640" data-rsh="480" data-rsbigimg="images/profile/2.jpg" href="images/profile/2.jpg"><img width="96" height="72" class="rsTmb" src="images/profile/t/2.jpg"></a>
		    <a class="rsImg" data-rsw="640" data-rsh="480" data-rsbigimg="images/profile/3.jpg" href="images/profile/3.jpg"><img width="96" height="72" class="rsTmb" src="images/profile/t/3.jpg"></a>
		    <a class="rsImg" data-rsw="640" data-rsh="480" data-rsbigimg="images/profile/4.jpg" href="images/profile/4.jpg"><img width="96" height="72" class="rsTmb" src="images/profile/t/4.jpg"></a>
		    <a class="rsImg" data-rsw="640" data-rsh="480" data-rsbigimg="images/profile/1.jpg" href="images/profile/1.jpg"><img width="96" height="72" class="rsTmb" src="images/profile/t/1.jpg"></a>
		    <a class="rsImg" data-rsw="640" data-rsh="480" data-rsbigimg="images/profile/2.jpg" href="images/profile/2.jpg"><img width="96" height="72" class="rsTmb" src="images/profile/t/2.jpg"></a>
		    <a class="rsImg" data-rsw="640" data-rsh="480" data-rsbigimg="images/profile/3.jpg" href="images/profile/3.jpg"><img width="96" height="72" class="rsTmb" src="images/profile/t/3.jpg"></a>
		    <a class="rsImg" data-rsw="640" data-rsh="480" data-rsbigimg="images/profile/4.jpg" href="images/profile/4.jpg"><img width="96" height="72" class="rsTmb" src="images/profile/t/4.jpg"></a>
		</div>
</div>

<div class="small-12 large-6 columns margin-bottom-20" din-width>

	<p>Easily recognized by its coat of reddish-orange with dark stripes, the tiger is the largest wild cat in the world. This powerful predator generally hunts alone, able to bring down prey such as deer and antelope.</p>

	<div class="large-7 small-12 columns no-padding">

		<div class="columns-6-mobile no-padding-left">
			<div class="large-5 small-12 orange profile-info profile-label">SPEED</div>

			<div class="nice round progress orange large-7 small-12 profile-info">
				<span class="meter size-{{ profile.info.percentage.speed }}"></span>
			</div>
		</div>

		<div class="columns-6-mobile no-padding-right">
			<div class="large-5 small-12 red profile-info profile-label">INTELLIGENCE</div>

			<div class="small-12 nice round progress red large-7 profile-info">
				<span class="meter size-{{ profile.info.percentage.intelligence }}"></span>
			</div>
		</div>

		<div class="columns-6-mobile no-padding-left">
			<div class="small-12 large-5 blue profile-info profile-label">STRENGTH</div>

			<div class="small-12 nice round progress blue large-7 profile-info">
				<span class="meter size-{{ profile.info.percentage.strength }}"></span>
			</div>
		</div>

		<div class="columns-6-mobile no-padding-right no-float-desktop">
			<div class="small-12 large-5 green profile-info profile-label">CUTENESS</div>

			<div class="small-12 nice round progress green large-7 profile-info">
				<span class="meter size-{{ profile.info.percentage.cuteness }}"></span>
			</div>
		</div>

	</div>

	<div class="large-5 columns worldmap">
		<img src="images/worldmap.png" alt="" />
	</div>
</div>