<div class="large-12 columns no-padding" style="height: 517px;" din-width>
	<span class="vid-button next">NEXT</span>
    <span class="vid-button prev">PREVIOUS</span>
	<!--<img src="images/videoplayer.png" alt="" height="517" width="1024" />-->
	<div class="vid-player box">
        <div class="box-content orange">
            <img src="images/main-video.png" height="431" width="697" />
        </div>
    </div>
    <div class="mini-vid-player left box">
        <div class="box-content green">
            <img src="images/mini-vid-1.png" height="163" width="213" />
        </div>
    </div>
    <div class="mini-vid-player right box">
        <div class="box-content purple">
            <img src="images/mini-vid-2.png" height="163" width="213" />
        </div>
    </div>
</div>